@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .btn-universal {
    background-color: #fb2c36;
    color: white;
  }

  .pages-headings {
    @apply text-3xl md:text-[52px];
  }
}